/* 新窗体从右侧进入, 且老窗体被挤压而出 */
.pop-in-right-enter-from {
	transform: translate3d(100%, 0, 0);
}
.pop-in-right-enter-to {
	transform: translate3d(0, 0, 0);
}
.pop-in-right-enter-active {
	transition: all 0.3s ease;
}
.pop-in-right-leave-from {
	transform: translate3d(0, 0, 0);
}
.pop-in-right-leave-to {
	transform: translate3d(-100%, 0, 0);
}
.pop-in-right-leave-active {
	transition: all 0.3s ease;
}

/* 新窗体从左侧进入, 且老窗体被挤压而出 */
.pop-out-right-enter-from {
	transform: translate3d(-100%, 0, 0);
}
.pop-out-right-enter-to {
	transform: translate3d(0, 0, 0);
}
.pop-out-right-enter-active {
	transition: all 0.3s ease;
}
.pop-out-right-leave-from {
	transform: translate3d(0, 0, 0);
}
.pop-out-right-leave-to {
	transform: translate3d(100%, 0, 0);
}
.pop-out-right-leave-active {
	transition: all 0.3s ease;
}