/* 路由前进动画 */
.fold-left-enter-from {
	transform: translate3d(100%, 0, 0);
}
.fold-left-enter-to {
	transform: translate3d(0, 0, 0);
}
.fold-left-enter-active {
	transition: all 30s ease;
}
.fold-left-leave-from {
	transform: translate3d(0, 0, 0);
}
.fold-left-leave-to {
	transform: translate3d(-100%, 0, 0);
}
.fold-left-leave-active {
	transition: all 30s ease;
}

/* 路由后退动画 */
.fold-right-enter-from {
	transform: translate3d(-100%, 0, 0);
}
.fold-right-enter-to {
	transform: translate3d(0, 0, 0);
}
.fold-right-enter-active {
	transition: all 0.3s ease;
}
.fold-right-leave-from {
	transform: translate3d(0, 0, 0);
}
.fold-right-leave-to {
	transform: translate3d(100%, 0, 0);
}
.fold-right-leave-active {
	transition: all 0.3s ease;
}